body {
    font-size: 16px;
}
.title {
    font-family: monospace; 
    font-size: 2rem;
}
.subtitle {
    font-family: Arial, sans-serif;
    font-size: 1.1rem;
}
.primary-header {
    padding:40px 20px;
    background: #197ED1;
    color: #fff;
}
.primary-header .title {
    color: #fff;
}

